{% load static wagtailuserbar wagtailimages_tags wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128528409-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-128528409-1');
    </script>

    <meta charset="utf-8" />
    <title>
      {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}- NoticiasMMA.com
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/noticiasmma.css' %}">

  </head>

  <body>
    <header class="navbar navbar-dark bg-dark fixed-top">
      <nav class="container-fluid">
        <a class="navbar-brand" href="{% slugurl 'home' %}">
          <h5 class="font-weight-bold d-inline m-0">NOTICIAS<span class="text-gold">MMA</span></h5>
        </a>
      </nav>
    </header>

    <main class="main-container p-0">
      {% block content %}{% endblock %}
    </main>

    <footer id="footer" class="bg-light">
      <div class="container py-3">
        <div class="row row-cols-2">
          <div class="col-6">
            <h6 class="m-0" >Noticias<span class="text-gold">MMA</span>.com</h6>
          </div>
        </div>
      </div>
    </footer>

    {# Global javascript #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/noticiasmma.js' %}"></script>

    <script>
      var navheight = document.getElementsByClassName("navbar")[0].offsetHeight;
      var container = document.getElementsByClassName("main-container")[0];
      container.style.marginTop = (navheight - 1) + "px"
    </script>

    {% block extra_js %}{% endblock %}

  </body>
</html>
